body.login{
    background-color: #fff1ff;
}
.titulo{
    font-size: 400%;
}
.modal-content h4{
    font-size:35px;
    color: rgb(4, 91, 190)
}

#myModal .modal-content{
    background-color:beige;
}

#formRegistro{
    padding: 30px;
    background-color:lightgrey
}

